
ghcup install.md
hello
hello.hi
hello.hs
hello.o
haskell-project/
*.lock
*.cache
*.conf
*/dist-newstyle/
day7/src/MyLib Kopie.hs
day7/src/MyLib_old.hs
testProj/
*.log
.vscode/launch.json
.vscode/tasks.json
