
ghcup install.md
hello
hello.hi
hello.hs
hello.o
haskell-project/
*.lock
*.cache
*.conf
day1/dist-newstyle/cache/up-to-date
day1/dist-newstyle/cache/source-hashes
day1/dist-newstyle/cache/solver-plan
day1/dist-newstyle/cache/plan.json
day1/dist-newstyle/cache/improved-plan
day1/dist-newstyle/cache/elaborated-plan
day1/dist-newstyle/cache/config
day1/dist-newstyle/cache/compiler
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/build/autogen/cabal_macros.h
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/build/autogen/Paths_day1.hs
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/cache/build
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/cache/config
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/cache/registration
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/setup-config
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/build/day1/autogen/cabal_macros.h
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/build/day1/autogen/Paths_day1.hs
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/build/day1/day1
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/cache/build
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/cache/config
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/cache/registration
day1/dist-newstyle/build/x86_64-osx/ghc-9.2.5/day1-0.1.0.0/x/day1/setup-config
